.header {
  width: 100%;
  height: 15vh;
  background-color: bisque;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
.menu a {
  text-decoration: none;
}

.content {
  width: 100%;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
}
.blocks {
  width: 45%;
  height: 90%;
  background-color: white;
  text-align: center;
  font-size: 18px;
  line-height: 1.3;
}
.blocks img {
  width: 100%;
  height: 100%;
}
.content2 {
  width: 100%;
  height: 65vh;
  background-color: beige;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h2 {
  color: red;
}
.cards {
  width: 30%;
  height: 90%;
  background-color: rgb(197, 248, 126);
  text-align: center;
}
#colonna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.cards img {
  width: 100%;
  height: 100%;
}
ul {
  text-align: start;
  font-size: 18px;
}
.line {
  line-height: 2;
}
.black {
  font-weight: 700;
  color: blue;
}
.red {
  color: red;
  font-weight: 900;
}
.upper {
  width: 90%;
  height: 45%;
}

.footer {
  width: 100%;
  height: 35vh;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
h3 {
  cursor: pointer;
}